html {
  height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

.sign-in-btn {
  text-align: center;
  margin-top: 100px;
}

.modal-body {
  height: 60px;
}

.content {
  margin-left: 20%;
}

#side-nav-height {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  overflow: scroll;
  background-color: #273c51;
}

.message-area-height {
  margin-bottom: 100px;
}

.side-menu-header,
.side-menu-items {
  padding: 10px;
  margin: 0;
}

.side-menu-header {
  border-bottom: 1px solid #3e546b;
  color: #a2b0b9;
}

li {
  list-style-type: none;
}

.side-menu-items {
  color: #a2b0b9;
  background-color: #17232f;
}

.side-menu-items:hover,
.refresh:hover {
  cursor: pointer;
  color: #c5d2da;
}

.refresh {
  float: right;
}

.message-list {
  margin: 0;
  padding: 5px 20px;
}

.message-list:first-child {
  margin-top: 20px;
}

.message-item {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 0;
  padding: 20px;
}

.message-info {
  font-weight: bold;
}

.message-box {
  position: absolute;
  bottom: 0;
  width: 80%;
  padding: 20px;
  margin: 0 !important;
  background-color: #ccc;
  position: fixed;
  overflow: hidden;
}

.message-input {
  float: left;
  width: 80% !important;
  border-radius: 4px 0 0 4px !important;
}

.message-button {
  float: right;
  width: 20%;
  border-radius: 0 4px 4px 0 !important;
}

.chat-name {
  padding-left: 20px;
}
